Repository Note-Catch/notes_sync: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, requirements

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: requirements
        name: requirements
        entry: make requirements
        language: system
        files: "pyproject.toml"

Little renaming in docker compose, fix KAFKA_PORT value
  docker-compose.yml
  notes_sync/config/default.py
Due: isort, black

Add Dockerfile for notes_sync server
  Dockerfile
  docker-compose.yml
Due: none

Replace black & isort with ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: requirements

Run ruff
  notes_sync/__main__.py
  notes_sync/config/default.py
  tests/conftest.py
Due: isort, black

Implement health_check consumer
  Dockerfile
  Makefile
  docker-compose.yml
  notes_sync/broker/__init__.py
  notes_sync/broker/connection.py
  notes_sync/consumers/__init__.py
  notes_sync/consumers/health_check/__init__.py
  notes_sync/consumers/health_check/__main__.py
  notes_sync/endpoints/health_check.py
Due: isort, black

Major changes, see description
  Dockerfile
  Makefile
  docker-compose.yml
  notes_sync/__main__.py
  notes_sync/broker/connection.py
  notes_sync/config/default.py
  notes_sync/consumers/logsequence/__init__.py
  notes_sync/consumers/logsequence/__main__.py
  notes_sync/consumers/logsequence/connection/__init__.py
  notes_sync/consumers/logsequence/connection/manager.py
  notes_sync/database/alembic/versions/54ff0821c1f4_.py
  notes_sync/database/connection/session.py
  notes_sync/database/models/__init__.py
  notes_sync/database/models/logsequence/__init__.py
  notes_sync/database/models/logsequence/message.py
  notes_sync/utils/__init__.py
  notes_sync/utils/row2dict.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: isort, black, requirements

Add pyjwt, passlib, python3-multipart as main dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: requirements

Implement User database model
  notes_sync/database/alembic/versions/f4baa303fb4c_.py
  notes_sync/database/models/__init__.py
  notes_sync/database/models/user.py
Due: isort, black

Implement OAuth2 authorization utilities
  notes_sync/config/default.py
  notes_sync/utils/__init__.py
  notes_sync/utils/auth.py
Due: isort, black

Implement OAuth2 authorization dependency
  notes_sync/dependencies/__init__.py
  notes_sync/dependencies/auth.py
  notes_sync/dependencies/basic_auth.py
Due: isort, black

Implement /oauth2/auth endpoint
  notes_sync/endpoints/__init__.py
  notes_sync/endpoints/oauth2.py
  notes_sync/schemas/__init__.py
  notes_sync/schemas/token.py
Due: isort, black

Add prefix to health check API router
  notes_sync/endpoints/health_check.py
Due: isort, black

Implement signup endpoint
  notes_sync/database/models/user.py
  notes_sync/endpoints/oauth2.py
  notes_sync/schemas/__init__.py
  notes_sync/schemas/generic_response.py
  notes_sync/schemas/signup.py
  notes_sync/utils/__init__.py
  notes_sync/utils/auth.py
Due: isort, black

Check access token in logsequence consumer
  notes_sync/consumers/logsequence/__main__.py
  notes_sync/dependencies/auth.py
  notes_sync/utils/__init__.py
  notes_sync/utils/auth.py
Due: isort, black

Add OpenAPI Makefile stub target
  .pre-commit-config.yaml
  Makefile
Due: none

Add typer as a main dependency
  poetry.lock
  pyproject.toml
Due: requirements

Implement export-openapi script
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/export_openapi/__init__.py
  scripts/export_openapi/__main__.py
Due: isort, black, requirements

Generate OpenAPI.json
  openapi.json
Due: none

Add Makefile action for generating Python API client
  .pre-commit-config.yaml
  Makefile
  README.md
Due: none

Generate initial Python API client
  Makefile
  notes_sync/clients/api/__init__.py
  notes_sync/clients/api/api/__init__.py
  notes_sync/clients/api/api/authorization/__init__.py
  notes_sync/clients/api/api/authorization/auth_api_v1_oauth2_auth_post.py
  notes_sync/clients/api/api/authorization/signup_api_v1_oauth2_signup_post.py
  notes_sync/clients/api/api/health_check/__init__.py
  notes_sync/clients/api/api/health_check/health_check_api_v1_health_check_ping_get.py
  notes_sync/clients/api/api/health_check/health_check_broker_api_v1_health_check_broker_get.py
  notes_sync/clients/api/client.py
  notes_sync/clients/api/errors.py
  notes_sync/clients/api/models/__init__.py
  notes_sync/clients/api/models/body_auth_api_v1_oauth_2_auth_post.py
  notes_sync/clients/api/models/error_code.py
  notes_sync/clients/api/models/generic_success_response_items.py
  notes_sync/clients/api/models/generic_success_response_items_items_item.py
  notes_sync/clients/api/models/http_validation_error.py
  notes_sync/clients/api/models/ping_response.py
  notes_sync/clients/api/models/signup_request.py
  notes_sync/clients/api/models/signup_response.py
  notes_sync/clients/api/models/token.py
  notes_sync/clients/api/models/user_already_exists_response.py
  notes_sync/clients/api/models/validation_error.py
  notes_sync/clients/api/py.typed
  notes_sync/clients/api/types.py
Due: isort, black

Implement ConfigDefault, Config models, generate migration
  notes_sync/database/alembic/versions/7937ed15cce9_.py
  notes_sync/database/models/__init__.py
  notes_sync/database/models/config.py
  notes_sync/database/models/user.py
Due: isort, black

Rename "user_id(ent)" field to "user"
  notes_sync/database/alembic/versions/7937ed15cce9_.py
  notes_sync/database/models/config.py
  notes_sync/database/models/user.py
Due: isort, black

Fix docker-compose.yml
  docker-compose.yml
Due: none

Specify profile name in Makefile:up, Makefile:down commands, invoke openapi-python-client from system
  Makefile
Due: none

Implement db_context for usage as context manager
  notes_sync/consumers/logsequence/__main__.py
  notes_sync/database/connection/__init__.py
  notes_sync/database/connection/session.py
  notes_sync/dependencies/auth.py
Due: isort, black

Replace Config table with fields in User model
  notes_sync/database/alembic/versions/7937ed15cce9_.py
  notes_sync/database/alembic/versions/d2982be30530_.py
  notes_sync/database/models/config.py
  notes_sync/database/models/user.py
  notes_sync/schemas/config.py
Due: isort, black

Simplify __init__ files, use built-in typing
  notes_sync/config/__init__.py
  notes_sync/database/connection/__init__.py
  notes_sync/database/models/__init__.py
  notes_sync/database/models/user.py
  notes_sync/endpoints/oauth2.py
  notes_sync/schemas/__init__.py
  notes_sync/utils/__init__.py
  notes_sync/utils/auth.py
  tests/utils.py
Due: isort, black

Multiple bug fixes
  notes_sync/dependencies/auth.py
  notes_sync/endpoints/health_check.py
  notes_sync/endpoints/oauth2.py
  notes_sync/schemas/config.py
  notes_sync/schemas/generic_response.py
  notes_sync/schemas/health_check.py
  notes_sync/schemas/signup.py
Due: isort, black

Implement config endpoints
  notes_sync/endpoints/__init__.py
  notes_sync/endpoints/config.py
Due: isort, black

Update API client
  notes_sync/clients/api/api/account/__init__.py
  notes_sync/clients/api/api/account/get_config_api_v1_config_get.py
  notes_sync/clients/api/api/account/put_config_api_v1_config_put.py
  notes_sync/clients/api/models/__init__.py
  notes_sync/clients/api/models/broker_not_responding.py
  notes_sync/clients/api/models/config_get_response.py
  notes_sync/clients/api/models/config_get_response_config.py
  notes_sync/clients/api/models/config_logsequence_enable.py
  notes_sync/clients/api/models/config_put_request.py
  notes_sync/clients/api/models/empty_ok_response.py
  notes_sync/clients/api/models/error_code.py
  openapi.json
Due: isort, black

Add websockets as a main dependency
  poetry.lock
  pyproject.toml
Due: requirements

Fix broker auto commit
  docker-compose.yml
  notes_sync/broker/connection.py
Due: isort, black

Replace LogsequenceMessage.token -> user, LogsequenceMessage.message -> text
  notes_sync/database/alembic/versions/43b51052938e_.py
  notes_sync/database/alembic/versions/480c5e136794_.py
  notes_sync/database/models/logsequence/message.py
Due: isort, black

Implement messages.post endpoint
  notes_sync/endpoints/messages.py
  notes_sync/schemas/messages.py
Due: isort, black

Update API client
  notes_sync/clients/api/api/messages/__init__.py
  notes_sync/clients/api/api/messages/post_message_api_v1_messages_post_post.py
  notes_sync/clients/api/models/__init__.py
  notes_sync/clients/api/models/message_post_request.py
  openapi.json
Due: isort, black

Fix errors in __init__ files
  notes_sync/config/__init__.py
  notes_sync/consumers/logsequence/connection/__init__.py
  notes_sync/database/connection/__init__.py
  notes_sync/database/models/__init__.py
  notes_sync/database/models/logsequence/__init__.py
  notes_sync/dependencies/__init__.py
  notes_sync/endpoints/__init__.py
  notes_sync/logger/__init__.py
  notes_sync/schemas/__init__.py
  notes_sync/utils/__init__.py
Due: isort, black

Store identifier along with username in the token, use it in logsequence consumer
  notes_sync/consumers/logsequence/__main__.py
  notes_sync/consumers/logsequence/connection/manager.py
  notes_sync/dependencies/auth.py
  notes_sync/endpoints/config.py
  notes_sync/endpoints/oauth2.py
Due: isort, black

Implement native client for logsequence
  notes_sync/clients/native/__init__.py
  notes_sync/clients/native/__main__.py
  notes_sync/clients/native/logsequence/__init__.py
  notes_sync/clients/native/logsequence/journal.py
  notes_sync/config/default.py
Due: isort, black

Fix formatting
  notes_sync/endpoints/messages.py
Due: isort, black

Implement config.get, config.update commands in native client
  notes_sync/clients/native/__main__.py
Due: isort, black
